@model SerenityUI.Models.UserListViewModel

@{
    ViewBag.Title = "Home Page";
}
<a href="@Url.Action("userAdd")" style="margin-bottom:20px" class="btn btn-success">Add User</a>

<table class="mt-5 table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail</th>
            <th>BirthDay</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Photo</th>
            <th>Transactions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.Email</td>
            <td>@user.BirthDay.ToShortDateString()</td>
            <td>@user.Phone</td>
            <td>@user.Location</td>
            <td>
                <img src="~/UploadedFiles/@user.FilePhoto" alt="" height=100 width=200 />
            </td>
            <td>
                <a href="@Url.Action("userEdit","Home", new {  id = user.Id })"><i title="Edit" class="glyphicon glyphicon-pencil"></i> </a>|
                <a href="#" class="glyphicon glyphicon-trash delete" name="@user.Id"> </a>|
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    $(".delete").click(function () {
        var delete1 = $(this)
        var id1 = $(this).attr('name')
        toastr.info("<br/><button type='button' id='confirmationRevertYes' class='btn btn-warning'>Evet</button>", 'Do you want to sure about delete?',
            {
                closeButton: true,
                allowHtml: true,
                progressBar: true,
                onShown: function (toast) {
                    $("#confirmationRevertYes").click(function () {
                        $.ajax({
                            type: 'POST',
                            dataType: 'json',
                            url: "/Home/userDelete/" + id1,
                            success: function (result) {
                                console.log(result);
                                if (result == true) {
                                    $(delete1).parent('td').parent('tr').remove();
                                    toastr.success("Duyuru Başarıyla Silindi.", 'Başarılı!', { timeOut: 5000 });
                                } else {
                                    toastr.error("Opps! Hatalı İşlem, Tekrar Deneyin.", 'Hata!', { timeOut: 5000 });
                                }
                            }

                        });

                    });
                }
            });
    })

</script>